
.interactive-lean {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.interactive-lean pre {
  margin: 0;
}

.interactive-line {
  display: inline-block;
  transition: background-color 0.2s ease;
}

.interactive-line:hover {
  background-color: var(--quote-bg);
  cursor: pointer
}

.interactive-line.active {
  background-color: var(--quote-bg);
}

.interactive-lean-context{
  position: relative;
  height: 100%;
  overflow: auto;
  background-color: var(--quote-bg);
  font-family: var(--mono-font);
}

.lean-context-line {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  overflow: hidden;
}

.lean-context-line.active {
  display: block;
}
